:root {
  --white: #fff;
  --black: #1a1a1a;
  --white-rgb: 255, 255, 255;
  --black-rgb: 26, 26, 26;
  --grey: #a3a3a3;
  --grey-light: #f6f6f6;
  --grey-dark: #3f3f3f;
  --purple: #5929a0;
  --font-default: "Nimbus Sans L", sans-serif;
  --transition-speed: cubic-bezier(0.28, 0.11, 0.32, 1);
  --transition-fast: 0.21s var(--transition-speed);
  --transition-default: 0.42s var(--transition-speed);
  --navbar-toggler-icon-color: light-dark(var(--black), var(--white));
  --section-spacer: 10rem;
  --letter-spacing: -0.05em;
  --scale-pos: 1.1;
  color-scheme: light dark;
}

@font-face {
  font-family: "Nimbus Sans L";
  src: url(assets/font/nimbussanslreg.otf) format("otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: var(--font-default);
  background: light-dark(var(--white), var(--black));
  color: light-dark(var(--black), var(--white));
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: light-dark(var(--black), var(--white));
  font-family: var(--font-default);
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border: none;
  background: 0 0;
  padding: 0;
  cursor: pointer;
  font-family: var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

::-webkit-scrollbar {
  background: var(--grey-light);
  width: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

* {
  -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

a:active,
a:focus,
a:visited {
  -webkit-tap-highlight-color: transparent;
}

.title-extraLarge {
  font-family: var(--font-light);
  /* font-size: 11.875rem; */
  font-size: 7.5rem;
  line-height: 92%;
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 111.25em) {
  .title-extraLarge {
    /* font-size: 9.375rem; */
    font-size: 5.92rem;
  }
}

@media screen and (max-width: 93.75em) {
  .title-extraLarge {
    /* font-size: 7.5rem; */
    font-size: 4.74rem;
  }
}

@media screen and (max-width: 80em) {
  .title-extraLarge {
    /* font-size: 5.625rem; */
    font-size: 3.55rem;
  }
}

@media screen and (max-width: 35em) {
  .title-extraLarge {
    /* font-size: 4.75rem; */
    font-size: 3rem;
  }
}

@media screen and (max-width: 30em) {
  .title-extraLarge {
    /* font-size: 4rem; */
    font-size: 2.53rem;
  }
}

@media screen and (max-width: 22.5em) {
  .title-extraLarge {
    /* font-size: 3.625rem; */
    font-size: 2.29rem;
  }
}

.title-large {
  /* font-size: 9.375rem; */
  font-size: 5.625rem;
  line-height: 109%;
  font-family: var(--font-light);
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 111.25em) {
  .title-large {
    /* font-size: 7.5rem; */
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 93.75em) {
  .title-large {
    /* font-size: 6.25rem; */
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 80em) {
  .title-large {
    /* font-size: 4.375rem; */
    font-size: 2.63rem;
  }
}

@media screen and (max-width: 35em) {
  .title-large {
    /* font-size: 3.5rem; */
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 30em) {
  .title-large {
    /* font-size: 3rem; */
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 22.5em) {
  .title-large {
    /* font-size: 2.625rem; */
    font-size: 1.58rem;
  }
}

.title-medium {
  /* font-size: 5rem; */
  font-size: 3.75rem;
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 111.25em) {
  .title-medium {
    /* font-size: 3.75rem; */
    font-size: 2.81rem;
  }
}

@media screen and (max-width: 80em) {
  .title-medium {
    /* font-size: 2.8125rem; */
    font-size: 2.11rem;
  }
}

@media screen and (max-width: 35em) {
  .title-medium {
    /* font-size: 2.25rem; */
    font-size: 1.69rem;
    line-height: 92%;
  }
}

@media screen and (max-width: 30em) {
  .title-medium {
    /* font-size: 1.75rem; */
    font-size: 1.31rem;
  }
}

@media screen and (max-width: 22.5em) {
  .title-medium {
    /* font-size: 1.5rem; */
    font-size: 1.13rem;
  }
}

.pretitle {
  font-size: 2.625rem;
  margin-bottom: 1.25rem;
  font-family: var(--font-light);
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 93.75em) {
  .pretitle {
    font-size: 2rem;
    margin-bottom: 0.3125rem;
  }
}

@media screen and (max-width: 80em) {
  .pretitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 35em) {
  .pretitle {
    font-size: 1.125rem;
  }
}

.desc {
  font-size: 1.125rem;
  line-height: 115%;
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 93.75em) {
  .desc {
    font-size: 1rem;
    line-height: 125%;
  }
}

@media screen and (max-width: 30em) {
  .desc {
    font-size: 0.875rem;
  }
}
.button {
  padding: 1.25rem 1.875rem;
  color: light-dark(var(--white), var(--black));
  font-family: var(--font-default);
  font-weight: 400;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  font-size: 1.125rem;
  line-height: 115%;
  letter-spacing: var(--letter-spacing);
  -webkit-transition: scale var(--transition-default);
  transition: scale var(--transition-default);
}

@media screen and (max-width: 93.75em) {
  .button {
    font-size: 1rem;
    line-height: 125%;
  }
}

@media screen and (max-width: 30em) {
  .button {
    font-size: 0.875rem;
  }
}

.button span {
  position: relative;
  z-index: 3;
  -webkit-transition: color 0.62s var(--transition-speed);
  transition: color 0.62s var(--transition-speed);
}

.button .arrow {
  width: 1.5rem;
  height: 1.5rem;
  rotate: -135deg;
  fill: var(--white);
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 93.75em) {
  .button .arrow {
    width: 1.3125rem;
    height: 1.3125rem;
  }
}

.button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 3.75rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: var(--transition-default);
  transition: var(--transition-default);
}

.button .arrow path {
  -webkit-transition: -webkit-transform 0.62s var(--transition-speed);
  transition: -webkit-transform 0.62s var(--transition-speed);
  transition: transform 0.62s var(--transition-speed);
  transition: transform 0.62s var(--transition-speed),
    -webkit-transform 0.62s var(--transition-speed);
}

.button:hover .arrow path:last-child {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.button:hover .arrow path:first-child {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.button:hover:after {
  scale: 1.03;
}

@media screen and (max-width: 93.75em) {
  .button {
    padding: 0.75rem 1.375rem;
  }
}

@media screen and (max-width: 80em) {
  .button {
    gap: 0.25rem;
  }
}

.button-outline:after {
  background: unset;
  border: 0.0625rem solid var(--black);
}

.button-outline:hover:after {
  background: light-dark(var(--white), var(--black));
}
.arrow path:last-child {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  rotate: -135deg;
}

@media screen and (max-width: 93.75em) {
  .arrow {
    width: 1.3125rem;
    height: 1.3125rem;
  }
}

.link span {
  position: relative;
  z-index: 3;
  color: light-dark(var(--white), var(--black));
}

.link span:before {
  content: "";
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform var(--transition-default);
  transition: -webkit-transform var(--transition-default);
  transition: transform var(--transition-default);
  transition: transform var(--transition-default),
    -webkit-transform var(--transition-default);
  background: light-dark(var(--white), var(--black));
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  top: 115%;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.link:hover span:before {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.link-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.link-arrow .arrow path {
  -webkit-transition: -webkit-transform 0.62s var(--transition-speed);
  transition: -webkit-transform 0.62s var(--transition-speed);
  transition: transform 0.62s var(--transition-speed);
  transition: transform 0.62s var(--transition-speed),
    -webkit-transform 0.62s var(--transition-speed);
}

.link-arrow:hover .arrow path:last-child {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.link-arrow:hover .arrow path:first-child {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.link-arrow .arrow path {
  fill: var(--purple);
}

.link-arrow svg {
  rotate: -135deg;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 93.75em) {
  .link-arrow svg {
    width: 1.3125rem;
    height: 1.3125rem;
  }
}
.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
@media screen and (min-width: 120em) {
  .container {
    max-width: 2560px;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}

@media screen and (max-width: 80em) {
  .container {
    width: 94%;
    max-width: 94%;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}
.bg-border {
  border-radius: 3.75rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
  width: calc(100% - 2.5rem);
  height: 100%;
}

@media screen and (max-width: 80em) {
  .bg-border {
    width: 99%;
    border-radius: 1.875rem;
  }
}

@media screen and (max-width: 47.9375em) {
  .bg-border {
    border-radius: 1.25rem;
    width: 101%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (max-width: 120em) {
  .nav {
    -webkit-box-flex: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
  }
}

@media screen and (max-width: 111.25em) {
  .nav {
    gap: 1.25rem;
  }
}

.nav-item {
  font-size: 1.125rem;
  line-height: 115%;
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 93.75em) {
  .nav-item {
    font-size: 1rem;
    line-height: 125%;
  }
}

@media screen and (max-width: 30em) {
  .nav-item {
    font-size: 0.875rem;
  }
}

.nav-item span {
  position: relative;
  z-index: 3;
  color: light-dark(var(--black), var(--white));
}

.nav-item span:before {
  content: "";
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform var(--transition-default);
  transition: -webkit-transform var(--transition-default);
  transition: transform var(--transition-default);
  transition: transform var(--transition-default),
    -webkit-transform var(--transition-default);
  background: light-dark(var(--black), var(--white));
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  top: 115%;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.nav-item:hover span:before {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

@media screen and (max-width: 64em) {
  .socials {
    gap: 1.25rem;
  }
}

.social-item {
  -webkit-transition: var(--transition-fast);
  transition: var(--transition-fast);
  margin-top: 0.125rem;
}

.social-item svg {
  width: 1.5rem;
  height: 1.5rem;
  & path {
    fill: light-dark(var(--black), var(--white));
  }
}
.svg-fill path {
  fill: light-dark(var(--black), var(--white));
}

@media screen and (max-width: 80em) {
  .social-item svg {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.social-item:hover {
  opacity: 0.7;
}

.cases-content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.875rem;
}

@media screen and (max-width: 111.25em) {
  .cases-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 47.9375em) {
  .cases-content {
    gap: 1.25rem;
  }
}

@media screen and (max-width: 35em) {
  .cases-content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.cases-item {
  --item-border: 2.5rem;
  border-radius: var(--item-border);
  overflow: hidden;
  background: #444;
}

.cases-item .button {
  color: var(--white);
  margin-top: 1.25rem;
}

.cases-item .button:after {
  background: unset;
  border: 0.0625rem solid var(--white);
}

.cases-item .button:hover span {
  color: var(--black);
}

.cases-item .button:hover:after {
  background: var(--white);
}

.cases-item .button .arrow path {
  fill: var(--purple);
}

.cases-item:hover .cases-img {
  scale: var(--scale-pos);
}

.cases-item:hover .button:after {
  scale: 1.03;
  background: var(--white);
}

.cases-item:hover .button span {
  color: var(--black);
}

.cases-item:hover .button .arrow path:last-child {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cases-item:hover .button .arrow path:first-child {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.cases-item:hover .button:hover span {
  color: var(--black);
}

.cases-item:hover .button:hover:after {
  background: var(--white);
}

@media screen and (max-width: 40.625em) {
  .cases-item:hover .cases-img {
    scale: 1;
  }
}

@media screen and (max-width: 47.9375em) {
  .cases-item {
    --item-border: 1.5rem;
  }
}

.cases-img-wrapper {
  overflow: hidden;
  border-radius: var(--item-border);
}

.cases-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--item-border);
  -webkit-transition: scale var(--transition-default);
  transition: scale var(--transition-default);
}

.cases-info {
  padding: 1.875rem;
  color: var(--white);
}

@media screen and (max-width: 47.9375em) {
  .cases-info {
    padding: 1.25rem;
  }
}

.cases-title {
  font-size: 1.875rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 0.625rem;
}

@media screen and (max-width: 93.75em) {
  .cases-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 80em) {
  .cases-title {
    font-size: 1.3125rem;
  }
}

@media screen and (max-width: 35em) {
  .cases-title {
    font-size: 1.125rem;
  }
}

.cases-desc {
  font-size: 1rem;
  line-height: 110%;
}

@media screen and (max-width: 80em) {
  .cases-desc {
    font-size: 0.875rem;
  }
}

.cases-viewAll-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cases-viewAll {
  font-size: 1.375rem;
}

.cases-viewAll span {
  text-shadow: 0 1.1em;
  overflow: hidden;
  line-height: 115%;
  padding: 0 0.125rem;
}

@media screen and (max-width: 93.75em) {
  .cases-viewAll {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 35em) {
  .cases-viewAll {
    font-size: 1rem;
  }
}

#contato {
  padding: var(--section-spacer) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 111.25em) {
  #contato {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    gap: 5rem;
  }
}

@media screen and (max-width: 80em) {
  #contato {
    gap: 2.5rem;
  }
}

.contacts-left {
  width: 45%;
}

.contacts-left .title-large {
  letter-spacing: var(--letter-spacing);
}

@media screen and (max-width: 111.25em) {
  .contacts-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.contacts-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 16.25rem;
}

.contacts-socials .button span {
  text-shadow: 0 1.1em;
  overflow: hidden;
  line-height: 115%;
}

@media screen and (max-width: 111.25em) {
  .contacts-socials {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.contacts-socials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.875rem 0 3.75rem 0;
}

@media screen and (max-width: 60.4375em) {
  .contacts-socials-content {
    margin-bottom: 1.875rem;
  }
}

.contacts-socials-item {
  font-size: 2.25rem;
  letter-spacing: var(--letter-spacing);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3125rem;
}

.contacts-socials-item svg:first-child {
  width: 1.625rem;
  height: 1.625rem;
  margin-right: 0.9375rem;
}

.contacts-socials-item span:before {
  top: 90%;
}

.contacts-socials-item .contacts-socials-item-text {
  min-width: 10rem;
}

.contacts-socials-item .arrow {
  fill: var(--purple);
}

.contacts-socials-item span {
  position: relative;
  z-index: 3;
  color: light-dark(var(--black), var(--white));
}

.contacts-socials-item span:before {
  content: "";
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform var(--transition-default);
  transition: -webkit-transform var(--transition-default);
  transition: transform var(--transition-default);
  transition: transform var(--transition-default),
    -webkit-transform var(--transition-default);
  background: var(--black);
  width: 100%;
  height: 0.0625rem;
  position: absolute;
  top: 115%;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.contacts-socials-item:hover span:before {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.contacts-socials-item .arrow path {
  -webkit-transition: -webkit-transform 0.62s var(--transition-speed);
  transition: -webkit-transform 0.62s var(--transition-speed);
  transition: transform 0.62s var(--transition-speed);
  transition: transform 0.62s var(--transition-speed),
    -webkit-transform 0.62s var(--transition-speed);
}

.contacts-socials-item:hover .arrow path:last-child {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.contacts-socials-item:hover .arrow path:first-child {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

@media screen and (max-width: 93.75em) {
  .contacts-socials-item {
    font-size: 1.5rem;
  }

  .contacts-socials-item .contacts-socials-item-text {
    min-width: 6.875rem;
  }
}

@media screen and (max-width: 35em) {
  .contacts-socials-item {
    font-size: 1.125rem;
  }

  .contacts-socials-item .contacts-socials-item-text {
    min-width: 5rem;
  }
}

.contacts-owner {
  width: 26.875rem;
}

@media screen and (max-width: 111.25em) {
  .contacts-owner {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media screen and (max-width: 30em) {
  .contacts-owner {
    width: 100%;
  }
}

.contacts-media__wrapper {
  overflow: hidden;
  aspect-ratio: 39/20;
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
}

.contacts-media__wrapper img {
  width: 100%;
}

.contacts-title {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: var(--letter-spacing);
  margin: 1.625rem 0 1rem 0;
}

@media screen and (max-width: 30em) {
  .contacts-title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.contacts-desc {
  font-size: 1rem;
  letter-spacing: var(--letter-spacing);
}

#hero {
  margin-top: 70px;
}

.container-hero-items {
  padding-left: 12.5rem;
  & > div:first-child {
    padding-left: 6.25rem;
  }
  & > div:nth-child(2) {
    padding-left: 3rem;
  }
}
@media screen and (max-width: 111.25em) {
  .container-hero-items {
    padding-left: 8.5rem;
    & > div:first-child {
      padding-left: 4.25rem;
    }
    & > div:nth-child(2) {
      padding-left: 3rem;
    }
  }
}

@media screen and (max-width: 93.75em) {
  .container-hero-items {
    padding-left: 7.5rem;
    & > div:first-child {
      padding-left: 4.25rem;
    }
    & > div:nth-child(2) {
      padding-left: 2.7rem;
    }
  }
}

@media screen and (max-width: 80em) {
  .container-hero-items {
    padding-left: 4.25rem;
    & > div:first-child {
      padding-left: 4rem;
    }
    & > div:nth-child(2) {
      padding-left: 2.5rem;
    }
  }
}

@media screen and (max-width: 62em) {
  .container-hero-items {
    padding-left: 2rem;
    & > div:first-child {
      padding-left: 3.5rem;
    }
    & > div:nth-child(2) {
      padding-left: 2.9rem;
    }
  }
}

@media screen and (max-width: 35em) {
  .container-hero-items {
    padding-left: 2rem;
    & > div:first-child {
      padding-left: 3.25rem;
    }
    & > div:nth-child(2) {
      padding-left: 2.8rem;
    }
  }
}

@media screen and (max-width: 30em) {
  .container-hero-items {
    padding-left: 2rem;
    & > div:first-child {
      padding-left: 3rem;
    }
    & > div:nth-child(2) {
      padding-left: 2.5rem;
    }
  }
}

@media screen and (max-width: 22.5em) {
  .container-hero-items {
    padding-left: 2rem;
    & > div:first-child {
      padding-left: 2.5rem;
    }
    & > div:nth-child(2) {
      padding-left: 1.8rem;
    }
  }
}

.hero-item {
  width: 100%;
  border-radius: 1.25rem;
  background-color: var(--grey);
  overflow: hidden;
}
.hero-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all var(--transition-default);
}
.hero-item:hover img {
  scale: 1.15;
}
.hero-item.divxs {
  height: 75px;
}
.hero-item.divsm {
  height: 90px;
}
.hero-item.divmd {
  height: 100px;
}
.hero-item.divlg {
  height: 120px;
}
.hero-item.divxl {
  height: 140px;
}
.scroll-text {
  border-left: 1px solid var(--purple);
  padding-left: 0.5rem;
  transition: all var(--transition-default);
  &:hover {
    color: var(--purple);
    border-left: 1px solid light-dark(var(--black), var(--white));
  }
}
header {
  background-color: light-dark(
    rgba(var(--white-rgb), 0.9),
    rgba(var(--black-rgb), 0.9)
  );
  backdrop-filter: blur(4px);
  border-bottom: 2px solid var(--grey-light);
}
header a {
  color: light-dark(var(--black), var(--white)) !important;
}
.owl-carousel .item {
  padding: 0.625rem;
}
.owl-carousel .item img,
.owl-carousel .item svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sobre-item {
  padding: 1.875rem 0;
  border-top: 1px solid light-dark(var(--black), var(--white));
}
.sobre-item:last-child {
  border-top: 1px solid light-dark(var(--black), var(--white));
  border-bottom: 1px solid light-dark(var(--black), var(--white));
}
.sobre-item div:first-child {
  border-radius: 2.5rem;
  overflow: hidden;
}

.sobre-item div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all var(--transition-default);
}

.sobre-item div:first-child:hover img {
  scale: 1.15;
}

#clientes,
#pessoal {
  margin-top: 6.25rem;
  background-color: light-dark(var(--grey-light), var(--grey-dark));
  border-radius: 2.5rem;
}

.cases-item .tech img {
  width: 30px;
  height: auto;
}

#footer {
  border-top: 2px solid var(--grey-light);
}

.navbar-toggler {
  color: light-dark(var(--black), var(--white));
  border: var(--bs-border-width) solid light-dark(var(--black), var(--white));
}
.navbar-toggler-icon {
  mask-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
  -webkit-mask-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--navbar-toggler-icon-color);
}
#hero .pretitle span {
  opacity: 0;
}
